<div class="page">

  <header class="header">
    <div>
      <h1>Crear Solicitud de Paz y Salvo</h1>
      <p>Registre una nueva solicitud para iniciar el flujo institucional.</p>
    </div>

    <div class="user-card">
      <strong>{{ usuarioActual?.nombres || 'Talento Humano' }}</strong>
      <span>{{ usuarioActual?.rol || 'talento_humano' }}</span>
    </div>
  </header>

  <section class="form-card">
    <div class="section-header">
      <div>
        <h2>Nueva solicitud</h2>
        <p>Seleccione el ex funcionario para iniciar el proceso.</p>
      </div>
    </div>

    <div class="form-grid">
      <div class="field">
        <label>Ex funcionario *</label>
        <select
          [(ngModel)]="nuevaSolicitud.ex_funcionario_id"
          name="ex_funcionario_id"
          (change)="validarSolicitud()"
          [class.input-error]="errores.ex_funcionario_id">

          <option value="">Seleccione un ex funcionario</option>
          <option *ngFor="let ex of exFuncionarios" [value]="ex.id">
            {{ ex.nombres }} {{ ex.apellidos }} - {{ ex.usuario }}
          </option>
        </select>

        <span class="error-text" *ngIf="errores.ex_funcionario_id">
          {{ errores.ex_funcionario_id }}
        </span>
      </div>

      <div class="field">
        <label>Creado por *</label>
        <input
          type="text"
          [(ngModel)]="nuevaSolicitud.creado_por"
          name="creado_por"
          placeholder="Nombre del encargado"
          maxlength="60"
          (input)="soloLetrasCreadoPor()"
          [class.input-error]="errores.creado_por">

        <span class="error-text" *ngIf="errores.creado_por">
          {{ errores.creado_por }}
        </span>
      </div>
    </div>

    <section class="message success" *ngIf="mensaje">
      {{ mensaje }}
    </section>

    <section class="message error" *ngIf="error">
      {{ error }}
    </section>
    <br>
    <br>

    

    <button
      class="primary"
      type="button"
      (click)="crearSolicitud()"
      [disabled]="cargando">
      {{ cargando ? 'Creando solicitud...' : 'Crear solicitud' }}
    </button>
  </section>

  <section class="table-card">
    <div class="table-header">
      <div>
        <h2>Solicitudes registradas</h2>
        <p>Listado general de procesos de paz y salvo.</p>
      </div>

      <span>{{ solicitudes.length }} registro(s)</span>
    </div>

    <div class="table-wrapper">
      <table *ngIf="solicitudes.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Ex funcionario</th>
            <th>Usuario</th>
            <th>Área</th>
            <th>Estado</th>
            <th>Fecha creación</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let s of solicitudes">
            <td>#{{ s.id }}</td>
            <td>{{ s.nombres }} {{ s.apellidos }}</td>
            <td>{{ s.usuario }}</td>
            <td>{{ s.area || 'Sin área' }}</td>
            <td>
              <span class="badge" [ngClass]="s.estado">
                {{ getEstadoLabel(s.estado) }}
              </span>
            </td>
            <td>{{ s.fecha_creacion | date:'dd/MM/yyyy HH:mm' }}</td>
          </tr>
        </tbody>
      </table>

      <div class="empty" *ngIf="solicitudes.length === 0">
        No existen solicitudes registradas.
      </div>
    </div>
  </section>

</div>